<launch>

 <!-- Include official launch file and specify camera_info urls -->
 <include file="$(find openni_launch)/launch/openni.launch">
   <!-- provide arguments to that launch file -->
   <arg name="rgb_camera_info_url"
        value="package://openni_launch/kinect_calibration/rgb_A00365A06777051A.yaml" />
   <arg name="depth_camera_info_url"
        value="package://openni_launch/kinect_calibration/depth_A00365A06777051A.yaml" />
   <arg name="depth_registration" default="true" />
 </include>
</launch>
