<?xml version="1.0"?>

<robot xmlns:xacro="http://ros.org/wiki/xacro">

	<xacro:macro name="imu_sensor_gazebo" params="link_name imu_topic update_rate">
		<gazebo>
			<plugin name="${link_name}_controller" filename="libgazebo_ros_imu.so">
				<alwaysOn>true</alwaysOn>
				<updateRate>${update_rate}</updateRate>
				<bodyName>${link_name}</bodyName>
				<topicName>${imu_topic}</topicName>
				<gaussianNoise>0.0</gaussianNoise>
				<xyzOffset>0 0 0</xyzOffset>
				<rpyOffset>0 0 0</rpyOffset>
				<serviceName>/default_imu</serviceName>
			</plugin>
		</gazebo>

		<!-- Imu definition required for hardware interface of ros control -->
		<gazebo reference="${link_name}">
			<sensor name="9dof_razor_imu" type="imu">
				<always_on>1</always_on>
				<update_rate>${update_rate}</update_rate>
				<imu>
					<noise>
						<type>gaussian</type>
						<rate>
			              <mean>0.0</mean>
			              <stddev>2e-4</stddev>
			              <bias_mean>0.0000075</bias_mean>
			              <bias_stddev>0.0000008</bias_stddev>
			            </rate>
						<accel>
			              <mean>0.0</mean>
			              <stddev>1.7e-2</stddev>
			              <bias_mean>0.1</bias_mean>
			              <bias_stddev>0.001</bias_stddev>
			            </accel>
					</noise>
				</imu>
			</sensor>
			<material value="Gazebo/Red"/>
		</gazebo>
	</xacro:macro>

</robot>