<launch>
	<!-- Adding empty_world.launch -->
	<include file="$(find gazebo_ros)/launch/empty_world.launch">
		<arg name="world_name" value="$(find canyonero_gazebo)/worlds/practice1.world"/>
	</include>

	<!-- Params -->
	<arg name="paused" default="false"/>
  	<arg name="use_sim_time" default="true"/>
  	<arg name="gui" default="true"/>
  	<arg name="headless" default="false"/>
  	<arg name="debug" default="false"/>

	  <!-- Load the URDF into the ROS Parameter Server -->
  	<param name="robot_description" command="$(find xacro)/xacro.py '$(find canyonero_description)/urdf/canyonero.urdf.xacro'" />

  	<!-- Run a python script to the send a service call to gazebo_ros to spawn a URDF robot -->
  	<node name="urdf_spawner" pkg="gazebo_ros" type="spawn_model" respawn="false" output="screen"
	args="-urdf -model canyonero -param robot_description"/>

	<!-- Spawn a robot into Gazebo -->
	<!--node name="spawn_urdf" pkg="gazebo_ros" type="spawn_model" args="-file $(find canyonero_description)/urdf/canyonero.urdf -urdf -z 1 -model canyonero" /-->
</launch>
