<launch>

	<!-- Practice worlds -->
		<arg name="practice1" default="false"/>
	<arg name="practice2" default="false"/>
	<arg name="practice3" default="false"/>
	<arg name="practice4" default="false"/>
	<arg name="practice5" default="false"/>

	<!-- Adding empty_world.launch and practice worlds -->
	<group if="$(arg practice1)">
		<include file="$(find gazebo_ros)/launch/empty_world.launch">
			<arg name="world_name" value="$(find canyonero_gazebo)/worlds/practice1.world"/>
		</include>
	</group>

	<group if="$(arg practice2)">
		<include file="$(find gazebo_ros)/launch/empty_world.launch">
			<arg name="world_name" value="$(find canyonero_gazebo)/worlds/practice2.world"/>
		</include>
	</group>

	<group if="$(arg practice3)">
		<include file="$(find gazebo_ros)/launch/empty_world.launch">
			<arg name="world_name" value="$(find canyonero_gazebo)/worlds/practice3.world"/>
		</include>
	</group>

	<group if="$(arg practice4)">
		<include file="$(find gazebo_ros)/launch/empty_world.launch">
			<arg name="world_name" value="$(find canyonero_gazebo)/worlds/practice4.world"/>
		</include>
	</group>

	<group if="$(arg practice5)">
		<include file="$(find gazebo_ros)/launch/empty_world.launch">
			<arg name="world_name" value="$(find canyonero_gazebo)/worlds/practice5.world"/>
		</include>
	</group>

	<!-- Bring up robot -->
	<include file="$(find canyonero_gazebo)/launch/canyonero_bringup.launch"/>

	<!-- Sim params -->
	<arg name="paused" default="false"/>
  	<arg name="use_sim_time" default="true"/>
  	<arg name="gui" default="true"/>
  	<arg name="headless" default="false"/>
  	<arg name="debug" default="false"/>

	<!-- Load the URDF into the ROS Parameter Server -->
  	<param name="robot_description" command="$(find xacro)/xacro.py '$(find canyonero_description)/urdf/canyonero.urdf.xacro'" />

  	<!-- Run a python script to the send a service call to gazebo_ros to spawn a URDF robot -->
  	<node name="urdf_spawner" pkg="gazebo_ros" type="spawn_model" respawn="false" output="screen"
	args="-urdf -model canyonero -param robot_description -z 0.01"/>

</launch>