<?xml version="1.0"?>
<!--

  This work is licensed under the Creative Commons Attribution-NonCommercial-NoDerivs 3.0 Unported License.
  To view a copy of this license, visit http://creativecommons.org/licenses/by-nc-nd/3.0/ or send a letter to
  Creative Commons, 444 Castro Street, Suite 900, Mountain View, California, 94041, USA.

-->

<robot xmlns:xacro="http://ros.org/wiki/xacro">

	<xacro:include filename="$(find canyonero_description)/urdf/canyonero_wheel.urdf.xacro"/>

	<xacro:macro name= "base" params = "name">
	<!-- BASE-FOOTPRINT -->
		<!-- base_footprint is a fictitious link(frame) that is on the ground right below base_link origin, navigation stack depends on this frame -->
		<link name = "${name}_footprint"/>

		<joint name = "${name}_footprint_joint" type = "fixed">
			<parent link = "${name}_footprint"/>
			<child link = "${name}_link"/>
			<origin xyz = "0 0 ${rob_pos_Z}" rpy = "0 0 0"/>
		</joint>

		<!-- BASE-LINK -->
	    <!--Actual body/chassis of the robot-->
		<link name = "${name}_link">
			<visual>
				<origin xyz = "0 0 0" rpy = "0 0 0"/>
				<geometry>
					<mesh filename = "package://canyonero_description/meshes/canyonero_plates.stl"/>
				</geometry>
				<material name = "Red"/>
			</visual>
			<!--collision>
	      		<origin xyz = "0 0 0" rpy = "0 0 0"/>
	      		<geometry>
	        		<mesh filename = "package://canyonero_description/meshes/canyonero_plates_collision.stl"/>
	      		</geometry>
	    	</collision-->
			<inertial>
	      		<origin rpy = "0 0 0" xyz = "174.84e-3 117.51e-3 -218.86e-3"/>
	      		<mass value = "15.23"/>
	      		<!-- inertia at cm or origin?-->
	      		<inertia ixx = "0.016258"
	               		 ixy = "0.000432"
	               		 ixz="-0.000049"
	               		 iyy="0.019275"
	               		 iyz="0.000048"
	               		 izz="0.016834"/>
	    	</inertial>
		</link>

		<!-- Wheels -->
	    <xacro:wheel sideX = "frontal" sideY = "left" positionX = "1.0" positionY = "1.0" reflect = "-1.0" parent = "${name}"/>
	    <xacro:wheel sideX = "frontal" sideY = "right" positionX = "1.0" positionY = "-1.0" reflect = "1.0" parent = "${name}"/>
	    <xacro:wheel sideX = "back" sideY = "left" positionX = "-1.0" positionY = "1.0" reflect = "-1.0" parent = "${name}"/>
	    <xacro:wheel sideX = "back" sideY = "right" positionX = "-1.0" positionY = "-1.0" reflect = "1.0" parent = "${name}"/>
	    
	</xacro:macro>

</robot>
