<?xml version="1.0"?>
<!--

  This work is licensed under the Creative Commons Attribution-NonCommercial-NoDerivs 3.0 Unported License.
  To view a copy of this license, visit http://creativecommons.org/licenses/by-nc-nd/3.0/ or send a letter to
  Creative Commons, 444 Castro Street, Suite 900, Mountain View, California, 94041, USA.

-->

<robot xmlns:xacro="http://ros.org/wiki/xacro">

	<!-- common properties -->
	<xacro:property name="PI"	value="3.1415926535897931"/>
	<material name="Red">
    <color rgba="0.8 0.0 0.0 1.0"/>
  </material>
  <material name="Black">
    <color rgba="0.05 0.05 0.05 1.0"/>
  </material>
  <material name="DarkGrey">
   <color rgba="0.2 0.2 0.2 1.0"/>
 </material>

	<!-- base properties -->
	<!-- robot's elevation from the ground -->
	<property name = "rob_pos_Z"	value = "1.67"/>
	<!-- wheel properties -->
	<property name = "wheel_pos_X"      value = "1.62"/>
	<property name = "wheel_pos_Y"      value = "1.65"/>
	<property name = "wheel_pos_Z"			value = "0.68"/>

	<!-- kinect properties -->
	<!-- kinect position at the robot -->
	<xacro:property name="cam_pos_X" value="2.62" />
	<xacro:property name="cam_pos_Y" value="0" />
	<xacro:property name="cam_pos_Z" value="1.41" />
	<xacro:property name="cam_or_R" value="${PI / 2}" />
	<xacro:property name="cam_or_P" value="0" />
	<xacro:property name="cam_or_Y" value="${PI / 2}" />
	<!-- kinect cam position at the kinect itself -->
	<xacro:property name="cam_px" value="0.29" />
	<xacro:property name="cam_py" value="-0.1" />
	<xacro:property name="cam_pz" value="0.19" />
	<xacro:property name="cam_or" value="0" />
	<xacro:property name="cam_op" value="0" />
	<xacro:property name="cam_oy" value="0" />

	<!-- kinect properties -->
	<xacro:property name="imu_pos_X" value="1.885"/>
	<xacro:property name="imu_pos_Y" value="0"/>
	<xacro:property name="imu_pos_Z" value="1.08"/>
	<xacro:property name="imu_or_R"	value="0"/>
	<xacro:property name="imu_or_P" value="0"/>
	<xacro:property name="imu_or_Y" value="${-PI / 2}"/>

</robot>